@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fira+Code:wght@500&family=Inter:wght@400;500;700;900&display=swap");

:not(ul, li) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:not(span),
body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "DM Serif Display", sans-serif;
  margin: 40px 0 10px 0;
}

h2 {
  font-family: "DM Serif Display", sans-serif;
  margin: 20px;
  font-size: 1.7rem;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

pre,
input,
label {
  font-family: "Fira Code", monospace;
}

pre {
  margin: 20px;
  padding: 20px;
  background: #fafafa;
  border-radius: 5px;
  overflow-x: auto;
}

input {
  height: 30px;
  border-radius: 6px;
}

li {
  padding: 0.8rem 0;
}
div.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: center;
  flex-direction: column;
}
.logo-h1 {
  text-align: center;
}

.multi-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.index-input {
  border-radius: 4px;
  width: 500px;
}

.send-button {
  background: red;
  color: white;
  font-weight: 700;
  border-radius: 4px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  padding: 3px;
  max-width: 90%;
  overflow-x: auto;
}

ul {
  border-left: solid 2px red;
}

li {
  list-style-type: none;
}

div.comment {
  font-size: 1rem;
}

li {
  list-style-type: none;
}

li div:nth-child(2n + 1) {
  background: rgba(212, 212, 212, 0.18);
  border-radius: 6px;
  padding: 4px 5px 4px 10px;
  font-size: 13px;
}
li div:nth-child(2n + 2) {
  font-size: 16px;
}

.small-input {
  width: 155px;
  border-radius: 4px;
  margin-right: 10px;
}

.div-fourier {
  display: flex;
  max-width: 1344px;
  justify-content: center;
  gap: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.gap {
  gap: 0.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.function {
  margin-bottom: 10px;
}

#add_function {
  margin-bottom: 10px;
}

button {
  border: 2px solid #000;
  background: lightsalmon;
  transition: transform 0.1s, box-shadow 0.1s;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px #000;
  border: 2px solid #000;
  color: #000;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0px 0px #000, inset 0px 0px #000;
  border: 2px solid #000;
  color: #000;
}

#output {
  margin: 40px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  background: rgba(255, 182, 193, 0.472);
  width: 100%;
  margin-top: auto;
}
