<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css"
      integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET"
      crossorigin="anonymous"
    />

    {% block title %}{% endblock %}
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
    {% endblock %}
    <script
      src="https://kit.fontawesome.com/9d24749016.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {% block navbar %}{% endblock %}
    <!-- Your page content -->
    {% block content %}{% endblock %}

    <script
      type="module"
      src="{{url_for('static',filename='index.js')}}"
    ></script>
  </body>
</html>
