<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.18/dist/katex.min.css"
      integrity="sha384-zTROYFVGOfTw7JV7KUu8udsvW2fx4lWOsCEDqhBreBwlHI4ioVRtmIvEThzJHGET"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1 class="logo-h1">MathCalculator</h1>
        <form action="">
          <input type="text" name="value" id="value">
          <button class="button">Send</button>
        </form>
      </div>
     
    </header>
    <div id="app"></div>
    <script type="module" src="{{url_for('static',filename='index.js')}}"></script>
  </body>
</html>
