{% extends 'layout.html' %} {% block container %}
<h2>Fourier Series</h2>
<div class="multi-input">
  <div class="div-fourier">
    <div class="flex-column" id="functions">
      <!--Functions-->
    </div>
    <button id="add_function"><i class="fas fa-plus"></i></button>
  </div>
  <div><label>T:</label><input type="text" id="T" class="small-input" /></div>
  <div class="flex gap">
    <input type="checkbox" id="complex" value="Complex?🥸" />
    <label for="complex">Complex?🥸</label>
  </div>
  <div>
    <button class="send-button" id="submit">Send</button>
  </div>
</div>

<div id="app"></div>

{% endblock %}
